 <!-- меню сайта -->
<a class="navbar-brand" href="#">Барковская</a>
<div class="navbar-nav">
    <a class="nav-item nav-link active" href="#">Лб 1</a>
    <a class="nav-item nav-link" asp-controller="Home" asp-action="Index">Каталог</a>
    <a class="nav-item nav-link" asp-area="Admin" asp-page="/index">Администрирование</a>
</div><!-- меню сайта - конец -->